# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/

# Environment variables and secrets
.env
.env.*
!.env.example
secrets/

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Docker files
Dockerfile
docker-compose*.yml
docker-compose*.yaml
.dockerignore

# Git and source control
.git
.gitignore
.github

# Testing and coverage
coverage/
test
*.spec.ts
*.test.ts
.nyc_output
